
* {

    padding: 0;
   // box-sizing: border-box; // optional, but handy
}
html, body {
    margin-right: 10px;
    height: 100%;
    background-image: url('mon3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center; // Выравнивание по горизонтали
    align-items: center; // Выравнивание по вертикали

    flex-direction: column;
    display: flex;

}
.buttons {
    display: flex;
    justify-content: space-between; //Это распределяет пространство между кнопками.
align-items: center; //Это помещает кнопки на одну горизонталь.
position: fixed; //Это делает его фиксированным;
    bottom: 50px; //Это смещает контейнер с кнопками снизу вверх.
left: 55px; //Это смещает контейнер с кнопками слева направо.
right: 55px; //Это смещает контейнер с кнопками справа налево.
padding: 0;
}

#spin-button,
#auto-spin-button {
    position: relative;
    display: block;
    margin: 20px auto 0;
    background: linear-gradient(goldenrod, darkgoldenrod 100%);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    text-shadow: -1px -1px 0 rgba(0,0,0,0.4);
    cursor: pointer;
    right:55px;
    left: 55px;
    flex: 0 0 auto;
}



#spin-button:hover,
#auto-spin-button:hover {
    background: linear-gradient(darkgoldenrod, goldenrod);
}
.auto-spin {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {

    overflow: hidden;
    /* Fix for iOS */
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slots {
    position: relative;
    width: 277px;
    height: 237px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background: linear-gradient(45deg, palegoldenrod 0%, goldenrod 100%);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}
.balance-share-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 11px;
}
.balance {
    position: fixed;
    left: 13px;
    top: 11px;
    color: goldenrod; /* Золотой цвет текста */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Тень текста: отступ вправо, отступ вниз, размытие, цвет*/
    font-size: 28px; /* Размер шрифта (измените по нужному) */
    font-weight: bold; /* Жирное начертание */
    -webkit-text-stroke: 1px black; /* Черная рамка вокруг текста для Chrome и Safari */
    text-stroke: 1px black; /* Черная рамка вокруг текста для других браузеров */
}

.btn_telegram_share {

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 7px;
    padding: 3px 10px;
    border: 1px solid #54aaeb;
    border-radius: 50px;
    background: #54aaeb;
    background: -webkit-gradient(linear, left top, left bottom, from(#54aaeb), to(#54aaeb));
    background: -moz-linear-gradient(top, #54aaeb, #54aaeb);
    background: linear-gradient(to bottom, #54aaeb, #54aaeb);
    font: normal normal normal 16px arial;
    color: #ffffff;
    text-decoration: none;
    position: fixed; /* Это позволит вам позиционировать кнопку в любой точке экрана */
    top: 11px;
    right: 10px; /* Расстояние от правого края экрана */
}
/*.btn_telegram_share:focus*/
.btn_telegram_share:hover
{
    border: 1px solid #61c4ff;
    background: #65ccff;
    background: -webkit-gradient(linear, left top, left bottom, from(#65ccff), to(#65ccff));
    background: -moz-linear-gradient(top, #65ccff, #65ccff);
    background: linear-gradient(to bottom, #65ccff, #65ccff);
    color: #ffffff;
    text-decoration: none;
    position: fixed; /* Это позволит вам позиционировать кнопку в любой точке экрана */
    top: 11px;
    right: 10px; /* Расстояние от правого края экрана */
}
.btn_telegram_share:active {
    background: #32668d;
    background: -webkit-gradient(linear, left top, left bottom, from(#32668d), to(#54aaeb));
    background: -moz-linear-gradient(top, #32668d, #54aaeb);
    background: linear-gradient(to bottom, #32668d, #54aaeb);
    position: fixed; /* Это позволит вам позиционировать кнопку в любой точке экрана */
    top: 11px;
    right: 10px; /* Расстояние от правого края экрана */
}
.btn_telegram_share:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    top: 11px;
    background: url("telegramm.png") no-repeat left center transparent;
    background-size: 100% 100%;
}
.coin {
    position: fixed;
    opacity: 0;
    animation: flyAndFade 2s;
}
.footer-social {
    position: fixed;
    bottom: 13px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-social {

     height: auto !important;
    background:none;
    box-shadow: 0px -1px 5px rgba(0,0,0,0.1);
    padding : 10px;
     margin-right: 10px;
}
.btn-social a {
    margin-right: 10px;


}
.btn-social img {
    width: auto;     /* Позволяет изображению масштабироваться в соответствии с его высотой. */
    height: 45px;
    border-radius: 12px;  /* Округляет углы изображений */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Добавляет тень */
}

/* CSS-анимация */
@keyframes flyAndFade {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-500px); /* Управляет высотой полета монет */
        opacity: 0;
    }
}
@-webkit-keyframes win1 {
    0% {
        background: linear-gradient(45deg, orange 0%, yellow 100%);
        box-shadow: 0 0 80px orange;
    }
    100% {
        background: linear-gradient(45deg, grey 0%, lightgrey 100%);
        box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
    }
}
@keyframes win1 {
    0% {
        background: linear-gradient(45deg, orange 0%, yellow 100%);
        box-shadow: 0 0 80px orange;
    }
    100% {
        background: linear-gradient(45deg, grey 0%, lightgrey 100%);
        box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
    }
}
@-webkit-keyframes win2 {
    0% {
        background: linear-gradient(45deg, lightblue 0%, lightgreen 100%);
        box-shadow: 0 0 80px lightgreen;
    }
    100% {
        background: linear-gradient(45deg, grey 0%, lightgrey 100%);
        box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
    }
}
@keyframes win2 {
    0% {
        background: linear-gradient(45deg, lightblue 0%, lightgreen 100%);
        box-shadow: 0 0 80px lightgreen;
    }
    100% {
        background: linear-gradient(45deg, grey 0%, lightgrey 100%);
        box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
    }
}
.slots.win1 {
    -webkit-animation: win1 200ms steps(2, end) infinite;
    animation: win1 200ms steps(2, end) infinite;
}
.slots.win2 {
    -webkit-animation: win2 200ms steps(2, end) infinite;
    animation: win2 200ms steps(2, end) infinite;
}
.slots .reel {
    position: relative;
    width: 79px;
    height: 237px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    background-image: url('icons.gif');
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: 100% auto;
}
.slots .reel::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( whitesmoke, transparent 25%, transparent 70%, whitesmoke 100%);
    box-shadow: inset 0 0 6px 2px whitesmoke;
}
.slots p {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, calc(100% + 30px));
    text-align: center;
    font-size: 0.8rem;
    color: #444;
}
.slots p a {
    color: red;
    font-weight: 700;
}

.win {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 48px;
    transform: translate(-50%, -50%);
    color: red;
    display: none;
    animation: 1s blinker linear infinite;
}
.win.show {
    display: block;
}
@keyframes blinker {
    50% { opacity: 0; }
}